
@media screen and (min-width: 1200px) {
    .features--section {
        padding-bottom: 0;
    }
}



.features__subtitle {
    color: $title-text-color;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;

    text-align: center;
}

.features__text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.features__title {
    visibility: hidden;
    font-size: 0;
}



.features__list {
@media screen and (min-width: 768px) {
display: flex;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
    margin: -15px;
}

}

.features__item {
   
    max-width: 450px;

    margin: 0 auto;

    @media screen and (max-width: 767px) {
        &:not(:last-child) {
        margin-bottom: 30px;
        }
    }

   

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: calc((100% - 4 * 15px) / 2);
        margin: 15px;
    }


    @media screen and (min-width: 1200px) {
        &:not(:first-child) {
        margin-left: 30px;
        }
        
        width: 270px;
    }

}

.features__box {
    max-width: 450px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    background-color: #F5F4FA;
    border-radius: 4px;

    @media screen and (min-width: 768px) {
        width: 100%
        }
}