.footer {
    background-color: $accent-background-color;
    padding: 60px 0;

&__logo {
    color: $primary-background-color;
    }
}

.logo--footer {
    display: block;
    margin-bottom: 20px;
}

.footer-address__link {
    color: $primary-background-color;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

&:hover, &:focus {
    color: $accent-color;
    }
}


.footer-address__contacts {
    display: inline-block;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

&:hover, &:focus {
    color: $accent-color;
    }
}

.footer-address__item:not(:first-child) {
    margin-top: 9px;
}


.footer-socials__title {
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primary-background-color;
}

.footer-flex {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

}

.footer-socials {
    padding-top: 12px;
    margin-left: 70px;
}

.footer-socials__list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.footer-socials__item {
    width: 44px;
    height: 44px;
    margin-right: 10px;

&:last-child {
    margin-right: 0;
    }
}

.footer-socials__link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

&:hover, &:focus {
    background-color: $accent-color;
    }
}

.footer-socials__icon {
    fill: $primary-background-color;
}

.footer-form__mail {
    display: flex;
    flex-direction: column;
}

.footer-form {
    display: flex;
    align-items: flex-end;
    margin-left: auto;
    padding-top: 12px;
}

.footer-form__button {
    padding: 10px 28px;
    min-width: 200px;
    margin-left: 12px;



    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: $primary-background-color;
    background-color: $accent-color;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;
    cursor: pointer;
}

.footer-form__icon {
    margin-left: 10px;
}

.footer-form__label {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primary-background-color;
}

.footer-form__input {
    margin: 0;
    padding: 15px 16px;
    height: 50px;
    width: 358px;

    outline: none;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: $accent-background-color;
}