.team {
    background-color: #F5F4FA;
}

.team__members {
    color: $title-text-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.team__title {
    color: $title-text-color;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.team__text {
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

.team__img {
    background-color: $primary-background-color;
}

.team__item {
    background-color: $primary-background-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:not(:first-child) {
        margin-left: 30px;
    }
}

.team__list {
    display: flex;
}

.team__card {
    padding: 30px 32px;
}

.team__soc-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.team__soc-item {
    width: 44px;
    height: 44px;
    margin-right: 10px;

    &:last-child {
        margin-right: 0;
    }
}

.team__soc-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    fill: #AFB1B8;
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        background-color: $accent-color;
        fill: $primary-background-color;
    }
}

